<h1>Create User</h1>
<%= form_with model: @user do |form| %>
  
  <%= form.text_field :first_name, placeholder: :first_name %>
  <%= form.text_field :last_name, placeholder: :last_name %>
  <%= form.number_field :attack_power, placeholder: :attack_power %>
  <%= form.number_field :defense_power, placeholder: :defense_power %>
  <%= form.submit %>
<% end %>